﻿@{
    ViewData["Title"] = "Home Page";
}
<style>
    .spinner-border {
        margin-left: 45%;
        display: inline-block;
        width: 10rem !important;
        height: 10rem !important;
        vertical-align: text-bottom;
        border: 0.25em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner-border .75s linear infinite;
        animation: spinner-border .75s linear infinite;
    }

    .shadow-lg {
        box-shadow: 0 1rem 3rem rgba(0, 102, 255,.175) !important;
    }

    .align-items-stretch:hover {
        color: white !important;
    }

    .icon-box, .aos-init, .aos-animate {
        margin-top: 6%;
    }
</style>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center shadow-lg">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <h1><a href="#">837 Claims</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#"><b>Home</b></a></li>
                <li><a class="nav-link scrollto active" href="#services"><b>Services</b></a></li>
                <li><a class="nav-link scrollto active" href="#FormsCreate"><b>Create Claims</b></a></li>
                <li><a class="nav-link scrollto active" href="#ParseClaim"><b>Parse Claim</b></a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center shadow-lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">EDI 837: Electronic Claims</h1>
                <marquee direction="up" scrollamount="3">
                    <p data-aos="fade-up" data-aos-delay="400">
                        The EDI 837 Health Care Claim transaction is the electronic transaction for claims submissions. UnitedHealthcare accepts the following claim types from both participating and non-participating care providers:
                        837P: Professional (physician) and vision claims
                        837I:  Institutional (hospital or facility) claims
                        837D: Dental claims
                        If you aren’t submitting claims electronically, or aren’t using EDI for all available transactions, go to EDI Connectivity for more information and help getting started
                    </p>
                </marquee>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->
<section id="services" class="services shadow-lg">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Services</h2>
            <p>
                ASC X12 Standards for Electronic Data Interchange
                Technical Report Type 3
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4 class="title"><a href=""> Health Care Claim</a></h4>
                    <p class="description">
                        This X12 Transaction Set contains the format and establishes the data contents of the Health
                        Care Claim Transaction Set (837) for use within the context of an Electronic Data Interchange
                        (EDI) environment. This transaction set can be used to submit health care claim billing
                        information, encounter information, or both, from providers of health care services to payers,
                        either directly or via intermediary billers and claims clearinghouses.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title"><a href="">837 Segment Detail</a></h4>
                    <p class="description">
                        is section specifies the segments, data elements, and codes for this implementation. Refer to section 2.1 Presentation Examples for detailed information on the
                        components of the Segment Detail section.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title"><a href=""> X12 Standard</a></h4>
                    <p class="description">ion is included as a reference. The implementation guide reference clarifies actual usage. Refer to section 2.1 Presentation Examples for detailed information on the components of the X12 Standard section.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title"><a href="">Version Information</a></h4>
                    <p class="description">
                        This implementation guide is based on the October 2003 ASC X12 standards, referred
                        to as Version 5, Release 1, Sub-release 0 (005010).
                        The unique Version/Release/Industry Identifier Code for transaction sets that are defined
                        by this implementation guide is 005010X222.
                        The two-character Functional Identifier Code for the transaction set included in this
                        implementation guide.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="FormsCreate" class="services shadow-lg">
    <div class="container">
        <div class="section-title mt-3" data-aos="fade-up">
            <h2>Create Claims</h2>
            <p>
                Please Click The Link To Open and Close Claims Form
            </p>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u><a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('ST')">Transaction Set Identifier Code(ST)</a></u>
                    <p>To indicate the start of a transaction set and to assign a control number.</p>
                    <div class="collapse shadow-lg" id="ST">
                        <form method="post" id="STForm">
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="TSIDCode" placeholder="TS ID Code" />
                            <input type="text" class="mb-2 form-control" minLength="4" maxlength="9" required autocomplete="off" id="STTSControlNumber" placeholder="TS Control Number" />
                            <input type="text" class="mb-2 form-control" minLength="1" maxlength="35" required autocomplete="off" id="STTSImpleConvReference" placeholder="TS Imple Conv Reference" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u> <a href="javascript:void(0);" onclick="Show('BHT')" class="font-weight-bold text-black">Beginning of Hierarchical Transaction(BHT)</a></u>
                    <p>
                        To define the business hierarchical structure of the transaction set and identify
                        the business application purpose and reference data, i.e., number, date, and
                        time.
                    </p>
                    <div class="collapse shadow-lg" id="BHT">
                        <form method="post" id="BHTForm">
                            <input id="BHTHierarchStructCode" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="4" placeholder="Hierarch Struct Code" />
                            <input id="BHTTSPurposeCode" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="2" placeholder="TS Purpose Code" />
                            <input id="BHTReferenceIdent" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="2" placeholder="Reference Ident" />
                            <input id="BHTDate" type="date" class="mb-2 form-control" autocomplete="off" required placeholder="Date" />
                            <input id="BHTTime" type="Time" class="mb-2 form-control" autocomplete="off" required maxlength="2" placeholder="Time" />
                            <input id="BHTTransactionTypeCode" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="2" placeholder="Transaction Type Code" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u>  <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('NM1')">Organizational Name(NM1)</a></u>
                    <p>To supply the full name of an individual or organizational entity.</p>
                    <div class="collapse shadow-lg" id="NM1">
                        <form method="post" id="NM1Form">
                            <input id="NM1EntityIDCode" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="3" placeholder="Entity ID Code" />
                            <input id="NM1EntityTypeQualifier" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="1" placeholder="Entity Type Qualifier" />
                            <input id="NM1NameLastOrgName" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="60" placeholder="Name Last/Org Name" />
                            <input id="NM1NameFirst" type="text" class="mb-2 form-control" autocomplete="off" maxlength="35" placeholder="Name First" />
                            <input id="NM1NameMiddle" type="text" class="mb-2 form-control" autocomplete="off" maxlength="25" placeholder="Name Middle" />
                            <input id="NM1NamePrefix" type="text" class="mb-2 form-control" autocomplete="off" maxlength="10" placeholder="Name Prefix" />
                            <input id="NM1NameSuffix" type="text" class="mb-2 form-control" autocomplete="off" maxlength="10" placeholder="Name Suffix" />
                            <input id="NM1IDCodeQualifier" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="2" placeholder="ID Code Qualifier" />
                            <input id="NM1IDCode" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="80" placeholder="ID Code" />
                            <input id="NM1EntityRelatCode" type="text" class="mb-2 form-control" autocomplete="off" maxlength="2" placeholder="Entity Relat Code" />
                            <input id="NM1EntityIDCodeReapet" type="text" class="mb-2 form-control" autocomplete="off" maxlength="3" placeholder="Entity ID Code" />
                            <input id="NM1NameLastOrgNameReapet" type="text" class="mb-2 form-control" autocomplete="off" maxlength="60" placeholder="Name Last/Org Name" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u>
                        <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('PER')">
                            CONTACT INFORMATION(PER)
                        </a>
                    </u>
                    <p>
                        To identify a person or office to whom administrative communications should be
                        directed.
                    </p>
                    <div class="collapse shadow-lg" id="PER">
                        <form method="post" id="PERForm">
                            <input id="PERContactFunctCode" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="2" placeholder="Contact Funct Code" />
                            <input id="PERName" type="text" class="mb-2 form-control" autocomplete="off" maxlength="60" placeholder="Name" />
                            <input id="PERCommNumberQual" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="2" placeholder="Comm Number Qual" />
                            <input id="PERCommNumber" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="256" placeholder="Comm Number" />
                            <input id="PERCommNumberQualR1" type="text" class="mb-2 form-control" autocomplete="off" maxlength="2" placeholder="Comm Number Qual" />
                            <input id="PERCommNumberR1" type="text" class="mb-2 form-control" autocomplete="off" maxlength="256" placeholder="Comm Number" />
                            <input id="PERCommNumberQualR2" type="text" class="mb-2 form-control" autocomplete="off" maxlength="2" placeholder="Comm Number Qual" />
                            <input id="PERCommNumberR2" type="text" class="mb-2 form-control" autocomplete="off" maxlength="256" placeholder="Comm Number" />
                            <input id="PERContactInqReference" type="text" class="mb-2 form-control" autocomplete="off" maxlength="20" placeholder="Contact Inq Reference" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u>
                        <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('HL')">
                            HIERARCHICAL LEVEL(HL)
                        </a>
                    </u>
                    <p>
                        To identify dependencies among and the content of hierarchically related
                        groups of data segments.
                    </p>
                    <div class="collapse shadow-lg" id="HL">
                        <form method="post" id="HLForm">
                            <input id="HLHierarchIDNumber" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="3" placeholder="Hierarch ID Number" />
                            <input id="HLHierarchParentID" type="text" class="mb-2 form-control" autocomplete="off" maxlength="1" placeholder="Hierarch Parent ID" />
                            <input id="HLHierarchLevelCode" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="60" placeholder="Hierarch Level Code" />
                            <input id="HLHierarchChildCode" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="35" placeholder="Hierarch Child Code" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u>
                        <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('PRV')">
                            SPECIAL INFORMATION(PRV)
                        </a>
                    </u>
                    <p>
                        To specify the identifying characteristics of a provider.
                    </p>
                    <div class="collapse shadow-lg" id="PRV">
                        <form method="post" id="PRVForm">
                            <input id="PRVProviderCode" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="2" placeholder="Provider Code" />
                            <input id="PRVReferenceIdentQual" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="60" placeholder="Reference Ident Qual" />
                            <input id="PRVReferenceIdent" type="text" class="mb-2 form-control" autocomplete="off" required maxlength="2" placeholder="Reference Ident" />
                            <input id="PRVStateorProvCode" type="text" class="mb-2 form-control" autocomplete="off" maxlength="256" placeholder="State or Prov Code" />
                            <input id="PRVProviderSpecInf" type="text" class="mb-2 form-control" autocomplete="off" maxlength="2" placeholder="Provider Spec Inf" />
                            <input id="PRVProviderOrgCode" type="text" class="mb-2 form-control" autocomplete="off" maxlength="256" placeholder="Provider Org Code" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u> <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('CUR')">Currency Information(CUR)</a></u>
                    <p>
                        To specify the currency (dollars, pounds, francs, etc.) used in a transaction.
                    </p>
                    <div class="collapse shadow-lg" id="CUR">
                        <form method="post" id="CURForm">
                            <input id="CUREntityIDCode" type="text" class="mb-2 form-control" required autocomplete="off" placeholder="Entity ID Code" />
                            <input id="CURCurrencyCode" type="text" class="mb-2 form-control" required autocomplete="off" placeholder="Currency Code" />
                            <input id="CURExchangeRate" type="text" step="0.0000" class="mb-2 form-control" autocomplete="off" placeholder="Exchange Rate" />
                            <input id="CUREntityIDCodeR1" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Entity ID Code" />
                            <input id="CURCurrencyCodeR1" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Currency Code" />
                            <input id="CURCurrMarketExchgCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Curr Market/Exchg Code" />
                            <input id="CURDateTimeQualifier" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Date/Time Qualifier" />
                            <input id="CURDate" type="date" class="mb-2 form-control" autocomplete="off" placeholder="Date" />
                            <input id="CURTime" type="time" class="mb-2 form-control" autocomplete="off" placeholder="Time" />
                            <input id="CURDateTimeQualifierR1" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Date/Time Qualifier" />
                            <input id="CURDateR1" type="date" class="mb-2 form-control" autocomplete="off" placeholder="Date" />
                            <input id="CURTimeR1" type="time" class="mb-2 form-control" autocomplete="off" placeholder="Time" />
                            <input id="CURDateTimeQualifierR2" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Date/Time Qualifier" />
                            <input id="CURDateR2" type="date" class="mb-2 form-control" autocomplete="off" placeholder="Date" />
                            <input id="CURTimeR2" type="time" class="mb-2 form-control" autocomplete="off" placeholder="Time" />
                            <input id="CURDateTimeQualifierR3" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Date/Time Qualifier" />
                            <input id="CURDateR3" type="date" class="mb-2 form-control" autocomplete="off" placeholder="Date" />
                            <input id="CURTimeR3" type="time" class="mb-2 form-control" autocomplete="off" placeholder="Time" />
                            <input id="CURDateTimeQualifierR4" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Date/Time Qualifier" />
                            <input id="CURDateR4" type="date" class="mb-2 form-control" autocomplete="off" placeholder="Date" />
                            <input id="CURTimeR4" type="time" class="mb-2 form-control" autocomplete="off" placeholder="Time" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u><a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('N3')">Address(N3)</a></u>
                    <p>To specify the location of the named party.</p>
                    <div class="collapse shadow-lg" id="N3">
                        <form method="post" id="N3Form">
                            <input id="N3AddressInformation" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Address Information" />
                            <input id="N3AddressInformation1" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Address Information" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u> <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('N4')">City, State, ZIP Code(N4)</a></u>
                    <p>To specify the geographic place of the named party.</p>
                    <div class="collapse shadow-lg" id="N4">
                        <form method="post" id="N4Form">
                            <input id="N4CityName" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="City Name" />
                            <input id="N4StateorProvCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="State or Prov Code" />
                            <input id="N4PostalCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Postal Code" />
                            <input id="N4CountryCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Country Code" />
                            <input id="N4LocationQualifier" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Location Qualifier" />
                            <input id="N4LocationIdentifier" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Location Identifier" />
                            <input id="N4CountrySubCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Country Sub Code" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u>
                        <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('REF')">
                            Tax Identification,UPIN/License Information(REF)
                        </a>
                    </u>
                    <p>To specify identifying information.</p>
                    <div class="collapse shadow-lg" id="REF">
                        <form method="post" id="REFForm">
                            <input id="REFReferenceIdentQual" type="text" class="mb-2 form-control" required autocomplete="off" placeholder="Reference Ident Qual" />
                            <input id="REFReferenceIdent" type="text" class="mb-2 form-control" required autocomplete="off" placeholder="Reference Ident" />
                            <input id="REFDescription" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Description" />
                            <input id="REFReferenceIdentifier" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Reference Identifier" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u>
                        <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('SBR')">
                            Subscriber Information(SBR)
                        </a>
                    </u>
                    <p>
                        To record information specific to the primary insured and the insurance carrier
                        for that insured.
                    </p>
                    <div class="collapse shadow-lg" id="SBR">
                        <form method="post" id="SBRForm">
                            <input id="SBRPayerRespSeqNoCode" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Payer Resp Seq No Code" />
                            <input id="SBRIndividualRelatCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Individual Relat Code" />
                            <input id="SBRReferenceIdent" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Reference Ident" />
                            <input id="SBRName" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Name" />
                            <input id="SBRInsuranceTypeCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Insurance Type Code" />
                            <input id="SBRBenefitsCoordCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder=" Benefits Coord Code" />
                            <input id="SBRYesNoCondRespCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Yes/No Cond Resp Code" />
                            <input id="SBREmploymentStatusCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Employment Status Code" />
                            <input id="SBRClaimFileIndCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Claim File Ind Code" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u>
                        <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('PAT')">
                            Patient Information(PAT)
                        </a>
                    </u>
                    <p>
                        To supply patient information.
                    </p>
                    <div class="collapse shadow-lg" id="PAT">
                        <form method="post" id="PATForm">
                            <input id="PATIndividualRelatCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Individual Relat Code" />
                            <input id="PATPatientLocCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Patient Loc Code" />
                            <input id="PATEmploymentStatuSCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Employment Status Code" />
                            <input id="PATStudentStatusCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Student Status Code" />
                            <input id="PATDateTimeFormatQual" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Date Time Format Qual" />
                            <input id="PATDateTimePeriod" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Date Time Period" />
                            <input id="PATUnitBasisMeasCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Unit/Basis Meas Code" />
                            <input id="PATWeight" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Weight" />
                            <input id="PATYesNoCondRespCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Yes/No Cond Resp Code" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u><a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('DMG')">Demographic Information(DMG)</a></u>
                    <p> To supply demographic information.</p>
                    <div class="collapse shadow-lg" id="DMG">
                        <form method="post" id="DMGForm">
                            <input id="DMGDateTimeFormatQual" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Date Time Format Qual" />
                            <input id="DMGDateTimePeriod" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Date Time Period" />
                            <input id="DMGGenderCode" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Gender Code" />
                            <input id="DMGMaritalStatusCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Marital Status Code" />
                            <input id="DMGCompRaceorEthnInf" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Comp Race or Ethn Inf" />
                            <input id="DMGCitizenshipStatusCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Citizenship Status Code" />
                            <input id="DMGCountryCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Country Code" />
                            <input id="DMGBasisofVerifCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Basis of Verif Code" />
                            <input id="DMGQuantity" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Quantity" />
                            <input id="DMGCodeListQualCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Code List Qual Code" />
                            <input id="DMGIndustryCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Industry Code" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u> <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('CLM')">Claim Information(CLM)</a></u>
                    <p> To specify basic data about the claim.</p>
                    <div class="collapse shadow-lg" id="CLM">
                        <form method="post" id="CLMForm">
                            <input id="CLMClaimSubmtIdentifier" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Claim Submt Identifier " />
                            <input id="CLMMonetaryAmount" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Monetary Amount" />
                            <input id="CLMClaimFileIndCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Claim File Ind Code " />
                            <input id="CLMNonInstClaimCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Non-Inst Claim Code " />
                            <input id="CLMHealthCareServLoc" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Health Care Serv Loc. " />
                            <input id="CLMYesNoCondRespCode" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Yes/No Cond Resp Code " />
                            <input id="CLMProviderAcceptCode" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Provider Accept Code " />
                            <input id="CLMYesNoCondRespCodeR1" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Yes/No Cond Resp Code" />
                            <input id="CLMReleaseofInfoCode" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Release of Info Code" />
                            <input id="CLMPatientSigSourceCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Patient Sig Source Code " />
                            <input id="CLMRelatedCausesInfo" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Related Causes Info " />
                            <input id="CLMSpecialProgCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Special Prog Code " />
                            <input id="CLMYesNoCondRespCodeR2" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Yes/No Cond Resp Code" />
                            <input id="CLMLevelofServCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Level of Serv Code " />
                            <input id="CLMYesNoCondRespCodeR3" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Yes/No Cond Resp Code" />
                            <input id="CLMProviderAgreeCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Provider Agree Code " />
                            <input id="CLMClaimStatusCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Claim Status Code " />
                            <input id="CLMYesNoCondRespCodeR4" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Yes/No Cond Resp Code " />
                            <input id="CLMClaimSubmtReasonCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Claim Submt Reason Code" />
                            <input id="CLMDelayReasonCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Delay Reason Code" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u><a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('DTP')">Date(DTP)</a></u>
                    <p>
                        To specify any or all of a date, a time, or a time period.
                    </p>
                    <div class="collapse shadow-lg" id="DTP">
                        <form method="post" id="DTPForm">
                            <input id="DTPDateTimeQualifier" type="text" class="mb-2 form-control" autocomplete="off" required placeholder=" Date/Time Qualifier" />
                            <input id="DTPDateTimeFormatQua" type="text" class="mb-2 form-control" autocomplete="off" required placeholder=" Date Time Format Qua" />
                            <input id="DTPDateTimePeriod" type="text" class="mb-2 form-control" autocomplete="off" required placeholder=" Date Time Period" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u>
                        <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('PWK')">
                            Claim Supplemental Information(PWK)
                        </a>
                    </u>
                    <p>
                        To identify the type or transmission or both of paperwork or supporting
                        information.
                    </p>
                    <div class="collapse shadow-lg" id="PWK">
                        <form method="post" id="PWKForm">
                            <input id="PWKReportTypeCode" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Report Type Code" />
                            <input id="PWKReportTransmCode" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Report Transm Code" />
                            <input id="PWKReportCopiesNeed" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Report Copies Need" />
                            <input id="PWKEntityIDCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Entity ID Code" />
                            <input id="PWKIDCodeQualifier" type="text" class="mb-2 form-control" autocomplete="off" placeholder="ID Code Qualifier" />
                            <input id="PWKIDCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="ID Code" />
                            <input id="PWKDescription" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Description" />
                            <input id="PWKActionsIndicated" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Actions Indicated" />
                            <input id="PWKRequestCategCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Request Categ Code" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u>
                        <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('AMT')">
                            Patient Amount Paid(AMT)
                        </a>
                    </u>
                    <p>
                        To indicate the total monetary amount.
                    </p>
                    <div class="collapse shadow-lg" id="AMT">
                        <form method="post" id="AMTForm">
                            <input id="AMTAmountQualCode" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Amount Qual Code" />
                            <input id="AMTMonetaryAmount" type="text" step="0.0000" class="mb-2 form-control" autocomplete="off" required placeholder="Monetary Amount" />
                            <input id="AMTCredDebitFlagCode" type="text" class="mb-2 form-control" autocomplete="off" placeholder="Cred/Debit Flag Code" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u>
                        <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('CN1')">
                            Contract Information(CN1)
                        </a>
                    </u>
                    <p>
                        To specify basic data about the contract or contract line item.
                    </p>
                    <div class="collapse shadow-lg" id="CN1">
                        <form method="post" id="CN1Form">
                            <input id="CN1ContractTypeCode" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Contract Type Code" />
                            <input id="CN1MonetaryAmount" type="text" step="0.0000" class="mb-2 form-control" autocomplete="off" placeholder="Monetary Amount" />
                            <input id="CN1AllowChrgPercent" type="text" step="0.0000" class="mb-2 form-control" autocomplete="off" required placeholder="Allow/Chrg Percent" />
                            <input id="CN1ReferenceIdent" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Reference Ident" />
                            <input id="CN1TermsDiscPercent" type="text" step="0.0000" class="mb-2 form-control" autocomplete="off" required placeholder="Terms Disc Percent" />
                            <input id="CN1VersionID" type="text" class="mb-2 form-control" autocomplete="off" required placeholder="Version ID" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u><a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('K3')">FILE INFORMATION(K3)</a></u>
                    <p>To transmit a fixed-format record or matrix contents.</p>
                    <div class="collapse shadow-lg" id="K3">
                        <form method="post" id="K3Form">
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="K3FixedFormInformation" placeholder="Fixed Form Information" />
                            <input type="text" class="mb-2 form-control" minLength="1" maxlength="2" required autocomplete="off" id="K3RecordFormatCode" placeholder="Record Format Code" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="K3CompositeUnitofMea" placeholder="Composite Unit of Mea" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u><a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('NTE')"> CLAIM NOTE(NTE)</a></u>
                    <p>
                        To transmit information in a free-form format, if necessary, for comment or
                        special instruction
                    </p>
                    <div class="collapse shadow-lg" id="NTE">
                        <form method="post" id="NTEForm">
                            <input type="text" maxlength="3" minlength="3" class="mb-2 form-control" required autocomplete="off" id="NTENoteRefCode" placeholder="Note Ref Code" />
                            <input type="text" class="mb-2 form-control" maxlength="80" required autocomplete="off" id="NTEDescription" placeholder="Description" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u><a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('CR1')"> AMBULANCE TRANSPORT INFORMATION(CR1)</a></u>
                    <p>
                        To supply information related to the ambulance service rendered to a patient.
                    </p>
                    <div class="collapse shadow-lg" id="CR1">
                        <form method="post" id="CR1Form">
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="CR1UnitBasisMeasCode" placeholder="Unit Basis Meas Code" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="CR1Weight" placeholder="Weight" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="CR1AmbulanceTransCode" placeholder="Ambulance Trans Code" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="CR1AmbulanceReasonCode" placeholder="Ambulance Reason Code" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="CR1UnitBasisMeasCodeR1" placeholder="Unit Basis Meas Code" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="CR1Quantity" placeholder="Quantity" />
                            <input type="text" class="mb-2 form-control" maxlength="55" required autocomplete="off" id="CR1AddressInformation" placeholder="Address Information" />
                            <input type="text" class="mb-2 form-control" maxlength="55" required autocomplete="off" id="CR1AddressInformationR1" placeholder="Address Information" />
                            <input type="text" class="mb-2 form-control" maxlength="80" required autocomplete="off" id="CR1Description" placeholder="Description" />
                            <input type="text" class="mb-2 form-control" maxlength="80" required autocomplete="off" id="CR1DescriptionR1" placeholder="Description" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u><a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('SE')"> TRANSACTION SET TRAILER(SE)</a></u>
                    <p>
                        To indicate the end of the transaction set and provide the count of the
                        transmitted segments (including the beginning (ST) and ending (SE) segments).
                    </p>
                    <div class="collapse shadow-lg" id="SE">
                        <form method="post" id="SEForm">
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="SENumberofIncSegs" placeholder="Number of Inc Segs" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="SEControlNumber" placeholder="Control Number" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u><a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('CR3')"> Durable Medical Equipment Certification(CR3)</a></u>
                    <p>
                        To supply information regarding a physician’s certification for durable medical equipment.
                    </p>
                    <div class="collapse shadow-lg" id="CR3">
                        <form method="post" id="CR3Form">
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="CR3CertificateTypeCode" placeholder="Certificate Type Code" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="CR3UnitBasisMeasCode" placeholder="Unit Basis Meas Code" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="CR3Quantity" placeholder="Quantity" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="CR3InsulinDependCode" placeholder="Insulin Depend Code" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="CR3Description" placeholder="Description" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u>
                        <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('FRM')">
                            SUPPORTING DOCUMENTATION(FRM)
                        </a>
                    </u>
                    <p>
                        To specify information in response to a codified questionnaire document.
                    </p>
                    <div class="collapse shadow-lg" id="FRM">
                        <form method="post" id="FRMForm">
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="FRMAssignedID" placeholder="Assigned ID" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="FRMYesNoCondRespCode" placeholder="Yes/No Cond Resp Code" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="FRMReferenceIdent" placeholder="Reference Ident" />
                            <input type="date" class="mb-2 form-control" required autocomplete="off" id="FRMDate" placeholder="Date" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="FRMAllowChrgPercent" placeholder="Allow Chrg Percent" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u>
                        <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('LQ')">
                            Form Identification Code(LQ)
                        </a>
                    </u>
                    <p>
                        To identify standard industry codes.
                    </p>
                    <div class="collapse shadow-lg" id="LQ">
                        <form method="post" id="LQForm">
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="LQCodeListQualCode" placeholder="Code List Qual Code" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="LQIndustryCode" placeholder="Industry Code" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u>
                        <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('LX')">
                            SERVICE LINE NUMBER(LX)
                        </a>
                    </u>
                    <p>
                        To reference a line number in a transaction set.
                    </p>
                    <div class="collapse shadow-lg" id="LX">
                        <form method="post" id="LXForm">
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="LXAssignedNumber" placeholder="Assigned Number" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u>
                        <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('PS1')">
                            PURCHASED SERVICE INFORMATION(PS1)
                        </a>
                    </u>
                    <p>
                        To specify the information about services that are purchased.
                    </p>
                    <div class="collapse shadow-lg" id="PS1">
                        <form method="post" id="PS1Form">
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="PS1ReferenceIdent" placeholder="Reference Ident" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="PS1MonetaryAmount" placeholder="Monetary Amount" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="PS1StateorProvCode" placeholder="State or Prov Code" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u>
                        <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('QTY')">
                            PURCHASED SERVICE INFORMATION(QTY)
                        </a>
                    </u>
                    <p>
                        To specify the information about services that are purchased.
                    </p>
                    <div class="collapse shadow-lg" id="QTY">
                        <form method="post" id="QTYForm">
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="QTYQuantityQualifier" placeholder="Quantity Qualifier" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="QTYQuantity" placeholder="Quantity" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="QTYCompositeUnitofMea" placeholder="Composite Unit of Mea" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="QTYFreeFormMessage" placeholder="Free Form Message" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch ml-2 mb-5 mb-lg-0 pb-4 shadow-lg">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <u>
                        <a href="javascript:void(0);" class="font-weight-bold text-black" onclick="Show('SVD')">
                            LINE ADJUDICATION INFORMATION(SVD)
                        </a>
                    </u>
                    <p>
                        To convey service line adjudication information for coordination of benefits
                        between the initial payers of a health care claim and all subsequent payers.
                    </p>
                    <div class="collapse shadow-lg" id="SVD">
                        <form method="post" id="SVDForm">
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="SVDIDCode" placeholder="ID Code" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="SVDMonetaryAmount" placeholder="Monetary Amount" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="SVDCompMedProcedID" placeholder="Comp Med Proced ID" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="SVDProductServiceID" placeholder="Product Service ID" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="SVDQuantity" placeholder="Quantity" />
                            <input type="text" class="mb-2 form-control" required autocomplete="off" id="SVDAssignedNumber" placeholder="Assigned Number" />
                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ParseClaim" class="services shadow-lg">
    <div class="container">
        <div class="section-title mt-3" data-aos="fade-up">
            <h2>Claim Parsing</h2>
            <p>
                Please Enter Claim String To Get The Data.
            </p>
        </div>
        <div id="spinner" class="mt-5">
            <div class="spinner-border text-primary" role="status">
                <span class="shadow-lg visually-hidden"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="post" id="ValidateString">
                    <textarea class="form-control" placeholder="Enter Claim as string to validate the segments" id="ClaimString" rows="10"></textarea>
                    <input type="submit" value="Convert" class="btn btn-primary mt-2" />
                </form>
            </div>
        </div>
        <br /><br />
        <div id="results">
            <div class="row">
                <div class="col-1">
                    <label for="SeacherSegment">Searching : </label>
                </div>
                <div class="col-11">
                    <input type="search" oninput="SeachSegment()" id="SeacherSegment" class="form-control shadow-lg" />
                </div>
            </div>
            <marquee>
                <div class="shadow-lg" id="Header">
                </div>
            </marquee>
            <br />
            <div id="details" class="row shadow-lg"></div>
        </div>
    </div>
</section>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    //-----------------------------------------------------------For seaching-----------------------------------------------------------------//
    var SegmentList = [];
    function SeachSegment() {
        var SearchValue = $("#SeacherSegment").val();
        var HTML = '';
        if (SearchValue != '') {
            for (var i = 0; i < SegmentList.length; i++) {
                if (SegmentList[i].includes(SearchValue)) {
                    HTML += '<div class="col-10 mt-2 shadow-lg"><textarea class="form-control shadow-lg" rows="1">' + SegmentList[i] + '</textarea></div><div class="col-2"><input type="submit" value="Save In Database" class="btn btn-primary mt-2" /> </div>';
                }
            }
            if (HTML == '') {
                HTML += '<h3 class="shadow-lg">No data found.</h3>';
            }
            $("#Header").hide();
            $("#details").html(HTML);
        }
        else {
            for (var i = 0; i < SegmentList.length; i++) {
                HTML += '<div class="col-10 mt-2 shadow-lg"><textarea class="form-control shadow-lg" rows="1">' + SegmentList[i] + '</textarea></div><div class="col-2"><input type="submit" value="Save In Database" class="btn btn-primary mt-2" /> </div>';
            }
            $("#Header").hide();
            $("#details").html(HTML);
        }
    }
    //-------------------------------------------------Get data from claims form Methods------------------------------------------------------//
    $("#STForm").submit(function (e) {
        e.preventDefault();
        var ST = {};
        ST.IdCode = $("#TSIDCode").val();
        ST.ControlNumber = $("#STTSControlNumber").val();
        ST.ImpleConvReference = $("#STTSImpleConvReference").val();
        $.ajax({
            type: 'POST',
            url: '/api/Values/STFromSubmission',
            data: ST,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        });
        alert("ST*" + ST.IdCode + "*" + ST.ControlNumber + "*" + ST.ImpleConvReference);
    });
    $("#BHTForm").submit(function (e) {
        var BHT = {};
        e.preventDefault();
        alert("BHTForm");
    });
    $("#NM1Form").submit(function (e) {
        var NM1 = {};
        e.preventDefault();
        alert("NM1Form");
    });
    $("#PERForm").submit(function (e) {
        var PER = {};
        e.preventDefault();
        alert("PERForm");
    });
    $("#HLForm").submit(function (e) {
        var HL = {};
        e.preventDefault();
        alert("HLForm");
    });
    $("#PRVForm").submit(function (e) {
        var PRV = {};
        e.preventDefault();
        alert("PRVForm");
    });
    $("#CURForm").submit(function (e) {
        var CUR = {};
        e.preventDefault();
        alert("CURForm");
    });
    $("#N3Form").submit(function (e) {
        var N3 = {};
        e.preventDefault();
        alert("N3Form");
    });
    $("#N4Form").submit(function (e) {
        var N4 = {};
        e.preventDefault();
        alert("N4Form");
    });
    $("#REFForm").submit(function (e) {
        var REF = {};
        e.preventDefault();
        alert("REFForm");
    });
    $("#SBRForm").submit(function (e) {
        var SBR = {};
        e.preventDefault();
        alert("SBRForm");
    });
    $("#PATForm").submit(function (e) {
        var PAT = {};
        e.preventDefault();
        alert("PATForm");
    });
    $("#CLMForm").submit(function (e) {
        var CLM = {};
        e.preventDefault();
        alert("CLMForm");
    });
    $("#DTPForm").submit(function (e) {
        var DTP = {};
        e.preventDefault();
        alert("DTPForm");
    });
    $("#PWKForm").submit(function (e) {
        var PWK = {};
        e.preventDefault();
        alert("PWKForm");
    });
    $("#AMTForm").submit(function (e) {
        var AMT = {};
        e.preventDefault();
        alert("AMTForm");
    });
    $("#CN1Form").submit(function (e) {
        var CN1 = {};
        e.preventDefault();
        alert("CN1Form");
    });
    $("#DMGForm").submit(function (e) {
        var DMG = {};
        e.preventDefault();
        alert("DMGForm");
    });
    $("#K3Form").submit(function (e) {
        var K3 = {};
        e.preventDefault();
        alert("K3Form");
    });
    $("#CR1Form").submit(function (e) {
        var CR1 = {};
        e.preventDefault();
        alert("CR1Form");
    });
    $("#NTEForm").submit(function (e) {
        var NTE = {};
        e.preventDefault();
        alert("NTEForm");
    });
    $("#SEForm").submit(function (e) {
        var SE = {};
        e.preventDefault();
        alert("SEForm");
    });
    $("#CR3Form").submit(function (e) {
        var CR3 = {};
        e.preventDefault();
        alert("CR3Form");
    });
    $("#FRMForm").submit(function (e) {
        var FRM = {};
        e.preventDefault();
        alert("FRMForm");
    });
    $("#LQForm").submit(function (e) {
        var LQ = {};
        e.preventDefault();
        alert("LQForm");
    });
    $("#LXForm").submit(function (e) {
        var LX = {};
        e.preventDefault();
        alert("LXForm");
    });
    $("#PS1Form").submit(function (e) {
        var PS1 = {};
        e.preventDefault();
        alert("PS1Form");
    });
    $("#QTYForm").submit(function (e) {
        var QTY = {};
        e.preventDefault();
        alert("QTYForm");
    });
    $("#SVDForm").submit(function (e) {
        var SVD = {};
        e.preventDefault();
        alert("SVDForm");
    });
    function Show(FormId) {
        $("#" + FormId).toggleClass('show');
    }
    $(document).ready(function () {
        $("#results").show();
        $("#spinner").hide();
    });
    //-------------------------------------------------Parsing string Methods------------------------------------------------//
    $("#ValidateString").submit(function (e) {
        e.preventDefault();
        var x = $("#ClaimString").val();
        if (x != null && x != '') {
            $("#results").hide();
            $("#spinner").show();
            e.preventDefault();
            var claim = $(" #ClaimString").val();
            $.ajax({
                type: 'POST',
                url: '/Home/StringTo837',
                data: {
                    'mainString': claim
                },
                success: function (data) {
                    var HTML = '';
                    $("#Header").html('');
                    for (var i = 0; i < data.length; i++) {
                        SegmentList[i] = data[i];
                        if (i < 2) {
                            $("#Header").append('<h3 class="shadow-lg">' + data[i] + '<\h3>');
                        }
                        else {
                            if (data[i] == '\n\n\nElements Details:') {
                                HTML += '<h3 class="col-12 d-flex p-2">' + data[i] + ' </h3>';
                            }
                            if (data[i] == '\n\n\nData Get From String :') {
                                HTML += '<h3 class="shadow-lg col-12 d-flex p-2">' + data[i] + ' </h3>';
                            }
                            if (data[1] != "") {
                                if (data[i] != '\n\n\nData Get From String :' && data[i] != '\n\n\nElements Details:') {
                                    HTML += '<div class="col-10 mt-2 shadow-lg"><textarea class="form-control shadow-lg" rows="1">' + data[i] + '</textarea></div><div class="col-2"><input type="submit" value="Save In Database" class="btn btn-primary mt-2" /> </div>';
                                }
                            }
                        }
                    }
                    setTimeout(function () {
                        $("#results").show();
                        $("#spinner").hide();
                    }, 1000);
                    $("#details").html(HTML);
                    $("#Header").show();
                    Swal.fire({
                        title: 'Success',
                        text: "Claim Converted Successfully.",
                        icon: 'success',
                        confirmButtonText: 'OK'
                    })
                },
                error: function () {
                    setTimeout(function () {
                        $("#results").show();
                        $("#spinner").hide();
                    }, 1000);
                    Swal.fire({
                        title: 'Error!',
                        text: "Invalid Claim Has Entered.....!",
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                }
            });
        }
        else {
            Swal.fire({
                title: 'Error!',
                text: "Empty Claim Has Entered.....!",
                icon: 'error',
                confirmButtonText: 'OK'
            })
        }
    });
    //----------------------------------------------Disable right click inspection-------------------------------------------//
    document.addEventListener('contextmenu', (e) => e.preventDefault());
    //-----------------------------------Disable F12, Ctrl + Shift + I, Ctrl + Shift + J, Ctrl + U---------------------------//
    document.onkeydown = function (e) {
        if (event.keyCode == 123) {
            return false;
        }
        if (e.ctrlKey && e.keyCode == 'E'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.keyCode == 'H'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.keyCode == 'A'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.keyCode == 'F'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.keyCode == 'E'.charCodeAt(0)) {
            return false;
        }
    }
</script>