﻿<style>
    .spinner-border {
        margin-left: 45%;
        display: inline-block;
        width: 10rem !important;
        height: 10rem !important;
        vertical-align: text-bottom;
        border: 0.25em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner-border .75s linear infinite;
        animation: spinner-border .75s linear infinite;
    }
</style>
<div class="row">
    <div class="col-12">
        <form method="post" id="ValidateForm">
            <textarea class="form-control" placeholder="Enter Claim as string to validate the segments" id="ClaimString" rows="4">
ST*837*3701*005010X222~BHT*0019*00*007227*20050215*075420*CH~NM1*41*2*DAVID GREEN*****46*S01057~PER*IC*KATHY SMITH*TE*4105558888~NM1*40*2*MEDICARE
 PART B MARYLAND*****46*12345~HL*1**20*1~NM1*85*1*GREENE*DAVID*M***XX*1234567890~N3*1264 OAKWOOD AVE~N4*BALTIMORE*MD*21236~REF*EI*987654321~PER*IC*DR*TE*
4105551212~HL*2*1*22*0~SBR*P*18*******MB~NM1*IL*1*WILLIAMSON*
MATTHEW*J***MI*123456789A~N3*128 BROADCREEK~N4*BALTIMORE*MD*21234~DMG*D8*19250110*M~NM1*PR*2*MEDICARE PART B MARYLAND***
**PI*C12345~CLM*125WILL*145.5***11>B>1*Y*A*Y*Y~DTP*454*D8*20050115~DTP*453*D8*20050110~DTP*455*D8*20050113~CR2********A*
*CHRONIC PAIN AND DISCOMFORT~HI*BK>7215~LX*1~SV1*HC>98940*145.5*UN*1***1~DTP*472*D8*20050215~REF*6R*01~SE*31*3701</textarea>
            <input type="submit" value="Submit" class="btn btn-primary mt-2" />
        </form>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header">
        837 String Parse into Readable String.
    </div>
</div>
<div id="spinner" class="mt-5">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden"></span>

        <span class="visually-hidden"></span>
    </div>
</div>
<div id="results">
    <div id="Header">
    </div>
    <div id="details" class="row"></div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#results").show();
        $("#spinner").hide();
    });
    $("#ValidateForm").submit(function (e) {
        $("#results").hide();
        $("#spinner").show();
        e.preventDefault();
        var claim = $(" #ClaimString").val();
        $.ajax({
            type: 'POST',
            url: '/Home/StringTo837',
            data: {
                'mainString': claim
            },
            success: function (data) {
                var HTML = '';
                $("#Header").html('');
                for (var i = 0; i < data.length; i++) {
                    if (i < 2) {
                        $("#Header").append('<h3>' + data[i] + '<\h3>');
                    }
                    else {
                        if (data[i] == '\n\n\nElements Details:') {
                            HTML += '<h3 class="col-12 d-flex p-2">' + data[i] + ' </h3>';
                        }
                        if (data[i] == '\n\n\nData Get From String :') {
                            HTML += '<h3 class="col-12 d-flex p-2">' + data[i] + ' </h3>';
                        }
                        if (data[1] != "") {
                            if (data[i] != '\n\n\nData Get From String :' && data[i] != '\n\n\nElements Details:') {
                                HTML += '<div class="col-4"><h5 class="d-flex p-2"></h5>' + data[i] + ' </div>';
                            }
                        }
                    }
                }
                setTimeout(function () {
                    $("#results").show();
                    $("#spinner").hide();
                }, 1000);
                $("#details").html(HTML);
            }
        });
    });
</script>